/* 
The guesses were all vertically in 1 line 
instead of 2x2 grid

.GuessScore {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    flex-flow: row wrap;
    align-items: center;
    width: 24px;
} */

.GuessScore {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
}
